<div class="flc-game-avatar-group">
  <span
    class="flc-game-avatar woman"
    [ngClass]="{
      'player-one': playerOne,
      'their-turn': activePlayer === playerOneRole,
      winner: winnerPlayer === playerOneRole
    }"
  ></span>
  <span>
    Player one <br />
    <i class="mdl-typography--caption-color-contrast" *ngIf="!matchId"
      >(waiting to start a game)</i
    >
    <i
      class="mdl-typography--caption-color-contrast"
      *ngIf="activePlayer === playerOneRole"
      >(you)</i
    >
  </span>
</div>
<div class="flc-game-avatar-group">
  <span
    class="flc-game-avatar man"
    [ngClass]="{
      'player-two': playerTwo,
      'their-turn': activePlayer === playerTwoRole,
      winner: winnerPlayer === playerTwoRole
    }"
  ></span>
  <span>
    Player two <br />
    <i class="mdl-typography--caption-color-contrast" *ngIf="!playerTwo"
      >(waiting to join)</i
    >
    <i
      class="mdl-typography--caption-color-contrast"
      *ngIf="activePlayer === playerTwoRole"
      >(you)</i
    >
  </span>
</div>
<div class="mdl-card__actions mdl-card--border">
  <button
    *ngIf="!matchId"
    (click)="onGameStart()"
    class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
  >
    Start game
  </button>
  <button
    *ngIf="matchId && !playerTwo"
    class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect"
    (click)="onGameJoin()"
  >
    Join game
  </button>
  <button
    *ngIf="playerTwo && matchId"
    class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect"
    (click)="onGameEnd()"
  >
    End/Leave game
  </button>
</div>
