<div class="flc-game-avatar-group">
  <span class="flc-game-avatar woman player-one"></span>
  <span>
    Player one <br />
    <i class="mdl-typography--caption-color-contrast">(you)</i>
  </span>
</div>
<div class="flc-game-avatar-group">
  <span class="flc-game-avatar man"></span>
  <span>
    Player two <br />
    <i class="mdl-typography--caption-color-contrast">(waiting to join)</i>
  </span>
</div>
<div class="mdl-card__actions mdl-card--border">
  <button
    *ngIf="!(matchId$ | async)"
    (click)="onGameStart()"
    class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
  >
    Start game
  </button>
  <button
    *ngIf="matchId$ | async"
    class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect"
  >
    <!-- onclick="alert('TODO: Implement Join Game route')" -->
    Join game
  </button>
</div>
